@model TravelDetroit.Presentation.ViewModels.UserProfileIndexViewModel

@{
    ViewBag.Title = "Index";
}

@Html.Partial("_SearchUsersPartial", Model)

<h2>@Model.Name</h2>

@Html.Partial("_AddLocationToUserPartial", Model)


@if (Model.Locations != null && Model.Locations.Count() > 0)
{
    <h3>Your Favorite Locations</h3>
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Address</th>
        </tr>
        @foreach (var location in Model.Locations)
        {
            <tr>
                <td><a href="/locations/index/@location.Id">@location.Name</a></td>
                <td>@location.Address</td>
            </tr>
        }
        </table>
}